@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: fit-content;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    height: fit-content;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}
/* Ensure main takes full height */
main {
  position: relative;
  min-height: 100vh;
}

.main-color-bg{
  background: linear-gradient(to bottom, rgb(99 102 241), rgb(124 58 237));
}

.secondary-color-bg
{
  background: linear-gradient(to bottom, rgb(129 140 248), rgb(99 102 241));
}

.main-text{
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(241 245 249));
  background-clip: text;
  color: transparent;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-weight: 500;
}
.main-text-dark{
  background: linear-gradient(to right, rgb(33, 33, 33), rgb(30, 30, 30));
  background-clip: text;
  color: transparent;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-weight: 500;
}

/* Full size background */
.background {
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  height: 140%;
  background: linear-gradient(to bottom, rgb(239, 242, 253), rgb(245, 243, 254));
  z-index: 1;
  /* Use this if you want the background to stretch with content */
  min-height: 140%;
}


/* Full size overlay */
.animationCanvas {
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  height: 140%;
  z-index: 2;
  min-height: 140%;
}

/* Content on top of everything */
.content {
  position: relative;
  z-index: 3;
  padding: 20px;
}

body::before {
  content: '';
  display: none;
  height: 100%;
  min-height: 100vh; /* Ensures the background covers the full viewport height */
}

.same-size-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Ensuring the div matches the size of the main element */
}
.title-shadow
{
  box-shadow: 2px 2px 16px rgba(90, 32, 199, 0.164)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
