@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: fit-content;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    height: fit-content;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}
/* Ensure main takes full height */
main {
  position: relative;
  min-height: 100vh;
}

.main-color-bg{
  background: linear-gradient(to bottom, rgb(139 92 246), rgb(163, 72, 247));
}


/* Full size background */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(239, 242, 253), rgb(245, 243, 254));
  z-index: 1;
  /* Use this if you want the background to stretch with content */
  min-height: 100%;
}


/* Full size overlay */
.animationCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  min-height: 100%;
}

/* Content on top of everything */
.content {
  position: relative;
  z-index: 3;
  padding: 20px;
}

body::before {
  content: '';
  display: none;
  height: 100%;
  min-height: 100vh; /* Ensures the background covers the full viewport height */
}

.same-size-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Ensuring the div matches the size of the main element */
}
.title-shadow
{
  box-shadow: 0 2px 16px rgba(44, 12, 71, 0.087);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
